ALLOWED_HOSTS = *

DB_USER="orchestrator"
DB_PASSWORD="456redko"
DB_HOST="mysql-server"
DB_NAME="analytics"
DB_ENGINE="django.db.backends.mysql"
DB_PORT="3306"

CLIENT_API_URL="/server_stats"
DEBUG=True
LOG_EVENTS=True

MATCHER_VECTORS_APPROXIMATION = 0.2785
VECTORIZATOR_URL = "http://vectorizator/process/"

PUSH_SERVER_API_URL = "http://push1st:6002/apps/"
PUSH_SERVER_API_APPLICATION = "orchestrator"
PUSH_SERVER_WS_APPLICATION = "app-key"
PUSH_SERVER_WS_URL = "ws://push1st:6003/ws/app/"
PUSH_SERVER_STATS_CHANNEL = "/stats/?session=session"
PUSH_SERVER_WS_RECONNECT_TIME = 15

TARANTOOL_URL = "tarantool"
TARANTOOL_PORT = 3301
TARANTOOL_USERNAME = "matcher"
TARANTOOL_PASSWORD = "secret"
TARANTOOL_SPACE = "platform_vectors"

REDIS_HOST = "redis-server"
REDIS_PORT = 6379
REDIS_STATS_DB = 7

CELERY_BROKER_URL = "redis://redis-server:6379"

MATCHER_LISTENER_WEBSOCKET_URL = "ws://push1st:6003/ws/app/app-key/"
MATCHER_LISTENER_WEBSOCKET_CHANNEL = "raw-events/?session=session"
MATCHER_SENDER_WEBSOCKET_URL = "ws://push1st:6003/ws/app/app-key/"
MATCHER_SENDER_WEBSOCKET_CHANNEL = "events"
MATCHER_PUSHER_API_URL = "http://push1st:6002/apps/orchestrator/events"
MATCHER_ORCHESTRATOR_CLIENT_API_URL = "http://orchestrator/client_api/servers/"
MATCHER_DESTINATION_WEBSOCKET_CHANNEL = "events"
MATCHER_VECTORS_APPROXIMATION = 0.2785

EVENTS_COLLECTOR_WEBSOCKET_URL_CHANNEL = "ws://push1st:6003/ws/app/app-key/events/?session=session"
CLICKHOUSE_HOST = "clickhouse-server"
CLICKHOUSE_PORT = 8123
CLICKHOUSE_USER = "orchestrator"
CLICKHOUSE_PASSWORD = "orchestrator"
CLICKHOUSE_DB = "orchestrator"

LICENSE_MODULE_URL = "http://127.0.0.1:8888"

#Monitoring
#MONITORING_URL = "http://metrics-pusher:8080/telegraf" 
#MONITORING_INTERVAL = 20
#DEPLOYMENT_NAME =

#SYS_LOG_HOST=syslog.monitoring.svc
#SYS_LOG_PORT=5140