database:
  host: mysql-server
  port: 3306
  username: orchestrator
  password: 456redko
  databaseName: analytics
pushServerApiUrl: http://push1st:6002/apps/orchestrator/events

# for ONLINE licensing
#licenseURL:

# for OFFLINE licensing (default)
#publicKey:
