namespace: ${NS_MS}
resources:
- ../../apps/mse/
images:
- name: download.aipix.ai:8443/vsaas-media-server/release
  newName: download.aipix.ai:8443/vsaas-media-server/release
  newTag: 25.06.1.0
${CUSTOM_IMAGES}

patches:
- target:
    group: apps
    version: v1
    kind: DaemonSet
    name: (mse)
  path: patch-mounts.yaml
${CUSTOM_PATCHES}
