VMS_URL=http://backend:80
NOVA_LICENSE_KEY=BF8bk5crZpSKU00w55W9seNPr6lwvrKtD7S4uCfZp67KQEguj2  # выписывается отдельно для каждой инсталяции

# Database root credentials for first time DB creation
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=mysql

# Database connections parameters
DB_HOST=mysql-server
DB_PORT=3306

# Payment credentials
BILLING_PAYMENT_GETAWAY_URL=https://example.com
BILLING_PAYMENT_GETAWAY_AUTH_ENDPOINT=https://example.com/connect/token
BILLING_PAYMENT_GETAWAY_TIMEOUT=10
BILLING_PAYMENT_GETAWAY_CLIENT_ID=client_id
BILLING_PAYMENT_GETAWAY_CLIENT_SECRET=client_secret
BILLING_PAYMENT_GETAWAY_GRAND_TYPE=client_credentials

# Administrator email for sending address expansions forms
ADMINISTRATOR_EMAIL=admin@mail.com

# Payment webhook credentials (must by simular in portal/environments-stub/.env.<stand>)
BILLING_PAYMENT_GETAWAY_LOGIN=admin
BILLING_PAYMENT_GETAWAY_PASSWORD=admin

# OAUTH
EXTERNAL_OAUTH_REDIRECT_URI_WEB=https://example.com/auth/login
EXTERNAL_OAUTH_REDIRECT_URI_MOBILE=https://example.com/auth/login

# Filesystem
#FILESYSTEM_DISK_PUBLIC=s3-public
PUBLIC_AWS_BUCKET=
PUBLIC_AWS_ACCESS_KEY_ID=
PUBLIC_AWS_SECRET_ACCESS_KEY=
PUBLIC_AWS_ENDPOINT=
PUBLIC_AWS_URL=
PUBLIC_AWS_DEFAULT_REGION=us-east-1

#FILESYSTEM_DISK_PRIVATE=s3-private
PRIVATE_AWS_BUCKET=
PRIVATE_AWS_ACCESS_KEY_ID=
PRIVATE_AWS_SECRET_ACCESS_KEY=
PRIVATE_AWS_ENDPOINT=
PRIVATE_AWS_URL=
PRIVATE_AWS_DEFAULT_REGION=us-east-1

