APP_ENV=production
WEBHOOKS_ENDPOINT=http://backend/api/v1/controller/webhooks

CONTROL_PLAIN_HLS_REDIRECT_ENABLED=true
CONTROL_PLAIN_HLS_REDIRECT_ENDPOINT=example.com/controller-hls
CONTROL_PLAIN_HLS_REDIRECT_ENDPOINT_INTERNAL=controller-control-plane-hls.vsaas-vms.svc:8888

CONTROL_PLAIN_RTSP_REDIRECT_ENABLED=true
CONTROL_PLAIN_RTSP_REDIRECT_ENDPOINT=example.com:5554
CONTROL_PLAIN_RTSP_REDIRECT_ENDPOINT_INTERNAL=controller-control-plane-rtsp.vsaas-vms.svc:5554

# Logging settings
LOG_CHANNEL=daily
LOG_TTL_DAYS=7
LOG_LEVEL=debug
#SYSLOG_UDP_HOST=syslog.monitoring.svc
#SYSLOG_UDP_PORT=5140

# Database root credentials for first time DB creation
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=mysql

# Database connections parameters
DB_HOST=mysql-server
DB_PORT=3306

# VMS temporary database parameters
TEMPORARY_VMS_DB_HOST=mysql-server
TEMPORARY_VMS_DB_PORT=3306
TEMPORARY_VMS_DB_DATABASE=vms
TEMPORARY_VMS_DB_USERNAME=vms
TEMPORARY_VMS_DB_PASSWORD=vms

# VMS Database
VMS_DB_DATABASE=vms

#Camera agent
AGENT_SOCKET_GATEWAY_ENDPOINT=http://push1st:6002/apps/devices/events

#Bridge
BRIDGE_ENCRYPTION_KEY=3AsSNzf056mcdF4V5tzV11xkbosIV9wX
BRIDGE_SOCKET_GATEWAY_ENDPOINT=http://push1st:6002/apps/devices/events

#Onvif
ONVIF_EXTERNAL_HOST=http://192.168.0.2:8888

MSE_FORCE_GET_INFO=true