WEBHOOKS_ENDPOINT=http://backend/api/v1/controller/webhooks

CONTROL_PLAIN_HLS_REDIRECT_ENABLED=true
CONTROL_PLAIN_HLS_REDIRECT_ENDPOINT=example.com/controller-hls
CONTROL_PLAIN_RTSP_REDIRECT_ENABLED=true
CONTROL_PLAIN_RTSP_REDIRECT_ENDPOINT=example.com:5554

LOG_CHANNEL=file
LOG_LEVEL=info

# Database root credentials.
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=mysql