namespace: ${NS_MINIO}
resources:
- ../../apps/minio/minio-single-node
images:
${CUSTOM_IMAGES}

patches:
- target:
    group: traefik.io
    version: v1alpha1
    kind: IngressRoute
    name: minio-api
  path: patch-ingressroute-minio-api.yaml
${CUSTOM_PATCHES}

