apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: (backend|vgw-backend|archive|cron|queue|queue-controller-webhooks|queue-intercom-calls|schedule|reports|analytic-events|analytic-statistics) 
  path: vms-backend-license.yaml
