namespace: ${NS_A}
resources:
- ../../apps/analytics/analytics-worker
- ../../apps/analytics/orchestrator
- ../../apps/analytics/tarantool
- ../../apps/analytics/vectorizator
${ADD_RESOURCE1}
${CUSTOM_RESOURCES}
components:
- ../../components/storage-class-local-storage
images:
- name: download.aipix.ai:8443/analytics-worker/release
  newName: download.aipix.ai:8443/analytics-worker/release
  newTag: 25.06.0.1
- name: download.aipix.ai:8443/analytics-orchestrator-server/release
  newName: download.aipix.ai:8443/analytics-orchestrator-server/release
  newTag: 25.06.0.2
- name: download.aipix.ai:8443/analytics-tarantool/release
  newName: download.aipix.ai:8443/analytics-tarantool/release
  newTag: 25.06.0.2
- name: download.aipix.ai:8443/analytics-licensing/release
  newName: download.aipix.ai:8443/analytics-licensing/release
  newTag: 25.06.0.0
- name: download.aipix.ai:8443/analytics-face-vectorization-service/release
  newName: download.aipix.ai:8443/analytics-face-vectorization-service/release
  newTag: latest
- name: download.aipix.ai:8443/analytics-metrics-pusher/release
  newName: download.aipix.ai:8443/analytics-metrics-pusher/release
  newTag: latest
${CUSTOM_IMAGES}

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: analytics-worker
  path: patch-analytics-worker-tolerations.yaml

- target:
    group: traefik.io
    version: v1alpha1
    kind: IngressRoute
    name: orchestrator
  path: patch-ingressroute-orchestrator.yaml
${CUSTOM_PATCHES}
