STAGE_URL=https://example.com/
MSE_INTERNAL_DOMAIN=
MSE_EXTERNAL_DOMAIN=
MSE_LIST=
MSE_TOKEN=
LOW_STREAM=rtsp://rtsp-server.testing.svc:8080/stream_1
HIGH_STREAM=rtsp://rtsp-server.testing.svc:8080/stream_2
EXTERNAL_PORT=8443
INTERNAL_PORT=8665
RTSP_PORT=8554
ONVIF_EVENTS_PORT=8887
URL_SCHEMA=https
STREAMS_LIMIT=200
BITRATE_LIMIT=1000000
IS_ANALYTIC=
ADMIN_LOGIN=admin@mail.com
ADMIN_PASSWORD=qweasdzxc