APP_NAME=VMS
APP_ENV=production

# Ability to add camera multiply times
IS_STREAM_URL_UNIQUE=true
APP_DEBUG=false

USER_TYPES=user

# Tree building format for groups (csa or custom).
TREE_FORMAT=custom

# s3 storage endpoint (ex. https://example.com/s3)
BASE_ENDPOINT_S3_STORAGE=

#Backend storage settings
#FILESYSTEM_DISK_PUBLIC=s3-public
PUBLIC_AWS_BUCKET=
PUBLIC_AWS_ACCESS_KEY_ID=
PUBLIC_AWS_SECRET_ACCESS_KEY=
PUBLIC_AWS_ENDPOINT=
PUBLIC_AWS_URL=
PUBLIC_AWS_DEFAULT_REGION=us-east-1

#FILESYSTEM_DISK_PRIVATE=s3-private
PRIVATE_AWS_BUCKET=
PRIVATE_AWS_ACCESS_KEY_ID=
PRIVATE_AWS_SECRET_ACCESS_KEY=
PRIVATE_AWS_ENDPOINT=
PRIVATE_AWS_URL=
PRIVATE_AWS_DEFAULT_REGION=us-east-1
#S3_BACKUP_PATH=database_backups

# Logging settings
LOG_CHANNEL=daily
LOG_TTL_DAYS=7
LOG_LEVEL=debug
#SYSLOG_UDP_HOST=syslog.monitoring.svc
#SYSLOG_UDP_PORT=5140

# Intercom settings
#INTERCOM_USER_NUMBER_POSTFIX=
#INTERCOM_AUTH_TOKEN=
#INTERCOM_SIP_SERVER=

# Huawei push settings
HUAWEI_APP_ID=108804761
HUAWEI_CLIENT_SECRET=9463017e9aa6cc94df17728a9933b02bce0b185860117a779b505f552ae7f748

# APN settings
APN_KEY_ID=5BMM7R2DVR
APN_TEAM_ID=D48X8Z3B8B
APN_BUNDLE_ID=cctv.xaipix.aipix
APN_PRODUCTION=true

SCHEDULE_IS_INTERCOM_ENABLED=true

# Throttling settings
#DISABLE_THROTTLE=true

# Database root credentials for first time DB creation
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=mysql

# Database connections parameters
DB_HOST=mysql-server
DB_PORT=3306
DB_CRITICAL_PORT=3306

# DHCP configuration
#DB_DHCP_HOST=
#DB_DHCP_PORT=
#DB_DHCP_DATABASE=
#DB_DHCP_USERNAME=
#DB_DHCP_PASSWORD=

# Clickhouse settings
CLICKHOUSE_HOST=clickhouse-server
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=orchestrator
CLICKHOUSE_USERNAME=orchestrator
CLICKHOUSE_PASSWORD=orchestrator
CLICKHOUSE_TIMEOUT=10
CLICKHOUSE_PROTOCOL=http

# Analytic settings
ORCHESTRATOR_ENDPOINT=http://orchestrator
ANALYTIC_CASE_CALLBACK_ENDPOINT=http://backend.vsaas-vms.svc

# Liscensing source (file or server)
LICENSE_SOURCE=

# Online Liscensing
LICENSE_URL=

# Offline Licensing
# LICENSE_PUBLIC_KEY=

# Controller settings
CONTROLLER_ENDPOINT=http://controller-api/controller/api/v1/private/management
CONTROLLER_TIMEOUT=5

# Queue name for job dispatch, need to setup in queue config the similar name
QUEUE_NAME=vms

# Map coordinates
# For Admin
ADMIN_MAP_LATITUDE=52.2303
ADMIN_MAP_LONGITUDE=21.007
ADMIN_MAP_ZOOM=14

# For Client
CLIENT_MAP_LATITUDE=52.2303
CLIENT_MAP_LONGITUDE=21.007
CLIENT_MAP_ZOOM=14

MAP_CLUSTER_ITEMS=3