# Default values for fluent-bit.
image:
  pullPolicy: Always

testFramework:
  enabled: false

## https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/classic-mode/configuration-file
config:
  service: |
    [SERVICE]
        Daemon Off
        Flush {{ .Values.flush }}
        Log_Level {{ .Values.logLevel }}
        Parsers_File /fluent-bit/etc/parsers.conf
        Parsers_File /fluent-bit/etc/conf/custom_parsers.conf
        HTTP_Server On
        HTTP_Listen 0.0.0.0
        HTTP_Port {{ .Values.metricsPort }}
        Health_Check On

  ## https://docs.fluentbit.io/manual/pipeline/inputs
  inputs: |
    [INPUT]
        Name tail
        Path /var/log/containers/*.log
        multiline.parser docker, cri
        Exclude_Path /*/*/*/calico*.log,/*/*/*/fluent-bit*.log,/*/*/*/coredns*.log,/*/*/*/etcd*.log,/*/*/*/kube*.log,/*/*/*/csi*.log,/*/*/*/speaker*.log
        Tag kube.*
        Mem_Buf_Limit 5MB
        Skip_Long_Lines On
        Inotify_Watcher true

    [INPUT]
        Name    syslog
        Listen  0.0.0.0
        Port    5140
        Parser  syslog
        Mode    udp
        Tag     syslog-std

  ## https://docs.fluentbit.io/manual/pipeline/filters
  filters: |
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log On
        Keep_Log On
        K8S-Logging.Parser Off
        K8S-Logging.Exclude Off
    [FILTER]
        Name    multiline
        match   syslog-std
        multiline.key_content log
        multiline.parser      go, multiline-php

  ## https://docs.fluentbit.io/manual/pipeline/outputs
  outputs: |
    [OUTPUT]
        Name loki
        Match syslog*
        Host loki.monitoring.svc.cluster.local
        labels job=syslog
        label_keys $host,$app_name,$pri
        Port 3100
    [OUTPUT]
        Name loki
        Match kube.*
        Host loki.monitoring.svc.cluster.local
        remove_keys kubernetes,stream,_p
        labels job=kubernetes
        label_map_path /fluent-bit/etc/conf/labelmap.json
        Port 3100
    # [OUTPUT]
        # Name stdout
        # Match kube.*

  ## https://docs.fluentbit.io/manual/pipeline/parsers
  customParsers: |
    [PARSER]
        Name        syslog
        Format      regex
        Regex       ^\<(?<pri>[0-9]{1,5})\>1 (?<time>[^ ]+) (?<host>[^ ]+) (?<app_name>[^ ]+) (?<pid>[-0-9]+) (?<msgid>[^ ]+) (?<extradata>(\[(.*?)\]|-)) (?<log>.+)$
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L%z
        Time_Keep   On
    [MULTILINE_PARSER]
        name          multiline-php
        type          regex
        flush_timeout 1000
        # rules |   state name  | regex pattern                  | next state
        # ------|---------------|--------------------------------------------
        rule      "start_state"   "/(\[.*[A-Z]+\] )(.*)/"  "cont"
        rule      "cont"          "/^(?!\[.*\.[A-Z]+\] ).*$/" "cont"

  # This allows adding more files with arbitary filenames to /fluent-bit/etc/conf by providing key/value pairs.
  # The key becomes the filename, the value becomes the file content.
  extraFiles:
    pritolevel.lua: |
      function pritolevel(tag, timestamp, record)
        priority = tonumber(record["pri"]);
        facility_num = math.floor(priority / 8)
        severity = priority % 8
        if (severity == 0) then level =  "emerg" end
        if (severity == 1) then level =  "alert" end
        if (severity == 2) then level =  "critical" end
        if (severity == 3) then level =  "error" end
        if (severity == 4) then level =  "warning" end
        if (severity == 5) then level =  "notice" end
        if (severity == 6) then level =  "info" end
        if (severity == 7) then level =  "debug" end
        if (facility_num == 0) then  facility = "kernel" end
        if (facility_num == 1) then  facility = "user" end
        if (facility_num == 2) then  facility = "mail" end
        if (facility_num == 3) then  facility = "system" end
        if (facility_num == 4) then  facility = "security" end
        if (facility_num == 16) then  facility = "local0" end
        if (facility_num == 17) then  facility = "local1" end
        if (facility_num == 18) then  facility = "local2" end
        if (facility_num == 19) then  facility = "local3" end
        if (facility_num == 20) then  facility = "local4" end
        if (facility_num == 21) then  facility = "local5" end
        if (facility_num == 22) then  facility = "local6" end
        if (facility_num == 23) then  facility = "local7" end
        record["facility"]=facility
        record["level"]= level
        return 1, timestamp, record
      end
    labelmap.json: |
       {
         "kubernetes": {
           "container_name": "container",
           "host": "node",
           "labels": {
             "app": "app",
             "release": "release"
           },
           "namespace_name": "namespace",
           "pod_name": "instance"
         },
         "stream": "stream"
       }
