deploymentMode: SimpleScalable
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    bucketNames:
      chunks: ${MINIO_LOGS_BUCKET_NAME}
      ruler: ruler
    type: 's3'
    s3:
      endpoint: http://minio.${NS_MINIO}.svc${S3_PORT_INTERNAL}
      secretAccessKey: ${MINIO_LOGS_SECRET_KEY}
      accessKeyId: ${MINIO_LOGS_ACCESS_KEY}
      insecure: true
      s3ForcePathStyle: true
  compactor:
    compaction_interval: 10m
    retention_enabled: true
    retention_delete_delay: 2h
    delete_request_cancel_period: 10m
    delete_request_store: s3
  limits_config:
    retention_period: 72h
    max_cache_freshness_per_query: 10m
    query_timeout: 60s
    split_queries_by_interval: 15m
    volume_enabled: true
    allow_structured_metadata: true
    reject_old_samples: true
    reject_old_samples_max_age: 24h

  schemaConfig:
    configs:
    - from: "2024-04-01"
      object_store: s3
      schema: v13
      store: tsdb
      index:
        period: 24h
        prefix: index_
  ingester:
    chunk_encoding: snappy
  analytics:
    reporting_enabled: false
  gateway:
    nginxConfig:
      clientMaxBodySize: 8M
# Caches storage settings
resultsCache:
  allocatedMemory: 512
  maxItemMemory: 10
chunksCache:
  allocatedMemory: 2048
  maxItemMemory: 10

# SimpleScale deployment settings
write:
  replicas: 1
  persistence:
    storageClass: ${RWO_STORAGE}
read:
  replicas: 1
  persistence:
    storageClass: ${RWO_STORAGE}
backend:
  persistence:
    storageClass: ${RWO_STORAGE}
  replicas: 1

# Adjustement to the fluent-bit settings
gateway:
  service:
    port: 3100

# Disable unused services
lokiCanary:
  enabled: false
ruler:
  enabled: false
test:
  enabled: false
monitoring:
  dashboards:
    enabled: false
  lokiCanary:
    enabled: false
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
