---
# -- Override the deployment namespace
#namespaceOverride: ""

# -- Enable additional metrics to report per-certificate errors ; helps with identifying read errors origin not having to look at exporter logs, at the expense of additional storage on Prometheus
#exposePerCertificateErrorMetrics: false

secretsExporter:
  enabled: true
  resources:
    limits:
      cpu: 1
      memory: 150Mi
    requests:
      cpu: 20m
      memory: 20Mi
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 3
  livenessProbe:
    initialDelaySeconds: 5
    periodSeconds: 3
  podAnnotations:
    prometheus.io/port: "9793"
    prometheus.io/scrape: "true"

service:
  create: false

prometheusServiceMonitor:
  create: false

prometheusRules:
  create: false
# -- Annotations added to all Pods
podAnnotations: {}
#  prometheus.io/port: "9793"
#  prometheus.io/scrape: "true"

rbac:
  # -- Should RBAC objects be created
  create: true

  secretsExporter:
    # -- Name of the ServiceAccount for the Secrets exporter (required if `rbac.create=false`)
    serviceAccountName:
    # -- Annotations added to the ServiceAccount for the Secrets exporter
    serviceAccountAnnotations: {}
    # -- Annotations added to the ClusterRole for the Secrets exporter
    clusterRoleAnnotations: {}
    # -- Annotations added to the ClusterRoleBinding for the Secrets exporter
    clusterRoleBindingAnnotations: {}

  hostPathsExporter:
    # -- Name of the ServiceAccount for hostPath exporters (required if `rbac.create=false`)
    serviceAccountName:
    # -- Annotations added to the ServiceAccount for the hostPath exporters
    serviceAccountAnnotations: {}
    # -- Annotations added to the ClusterRole for the hostPath exporters
    clusterRoleAnnotations: {}
    # -- Annotations added to the ClusterRoleBinding for the hostPath exporters
    clusterRoleBindingAnnotations: {}
hostPathsExporter:
  podAnnotations:
    prometheus.io/port: "9793"
    prometheus.io/scrape: "true"
  daemonSets:
    controlplane:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
      watchFiles:
        # apiserver
        - /etc/kubernetes/pki/apiserver.crt
        - /etc/kubernetes/pki/apiserver-etcd-client.crt
        - /etc/kubernetes/pki/apiserver-kubelet-client.crt
        - /etc/kubernetes/pki/front-proxy-client.crt
        # CAs
        - /etc/kubernetes/pki/ca.crt
        - /etc/kubernetes/pki/front-proxy-ca.crt
        - /etc/kubernetes/pki/etcd/ca.crt
        # etcd
        - /etc/kubernetes/pki/etcd/server.crt
        - /etc/kubernetes/pki/etcd/peer.crt
        - /etc/kubernetes/pki/etcd/healthcheck-client.crt
        # kubelet client (rotated symlink)
        - /var/lib/kubelet/pki/kubelet-client-current.pem
      watchKubeconfFiles:
        - /etc/kubernetes/admin.conf
        - /etc/kubernetes/controller-manager.conf
        - /etc/kubernetes/scheduler.conf

    workers:
      # nodeSelector:
      #   node-role.kubernetes.io/worker: ""
      watchFiles:
        - /etc/kubernetes/pki/ca.crt
        - /var/lib/kubelet/pki/kubelet-client-current.pem
