- op: replace
  path: /spec/routes/0/match
  value: Host (`${VMS_DOMAIN}`) && ( PathPrefix(`/portal/storage`) || PathPrefix(`/api/portal`) || PathPrefix(`/nova-api/`) || PathPrefix(`/portal/admin`) || PathPrefix(`/vendor/nova`) || PathPrefix(`/nova-vendor/`) || PathPrefix(`/views/client/js`) )
