# API for send data
API_URL=http://backend/api/v1/events/smtp

CELERY_BROKER=redis://redis-server:6379/5

# Port for handle emails (default 1025)
PORT=1025

# Ip address for handle emails (default 0.0.0.0)
HOST=0.0.0.0

# Verify SSL in send to api
NO_SSL_VERIFY=True