{
  "proxy": {
    "listen": "*:8776:/",
    "poll": 1024,
    "ip": 4,
    "ssl": true,
    "workers": 4,
    "max-response-size": 65536,
    "max-request-size": 65536
  },
  "onvif": {
    "listen": "*:8887:/",
    "workers": 4,
    "poll": 1024,
    "ip": 4
  },
  "rtsp": {
    "listen": "*:8554:/",
    "sink": "*:8998:/",
    "workers": 16,
    "poll": 1024,
    "ip": 4
  },
  "cameras": "./cameras.json",
  "media": {
    "listen": "*:8443:/",
    "ip": 4,
    "workers": 16,
    "poll": 1024,
    "ssl": true
  },
  "api": {
    "listen": "*:8665:/api/",
    "workers": 8,
    "poll": 1024,
    "ssl": true,
    "ip": 4
  },
  "cview": {
    "listen": "*:9665:/",
    "accept": 1,
    "path": "/opt/vsaas/services/cview",
    "workers": 1,
    "poll": 1024,
    "ssl": true,
    "routes": ["streams", "server", "cluster"],
    "ip": 4
  },
  "ssl": {
    "key": "/opt/ssl/key.pem",
    "cert": "/opt/ssl/cert.pem"
  },
  "cluster": {
    "webhook": "http://localhost/controller/api/v1/mse/callback",
    "events": [
      "service:up",
      "service:down",
      "service:pulse",
      "service:emergency",
      "stream:create",
      "stream:state",
      "stream:reconnect",
      "stream:delete",
      "stream:dvr",
      "stream:dvr:delete",
      "server:capture",
      "server:release",
      "camera:create",
      "camera:delete",
      "camera:event",
      "onvif:create",
      "onvif:delete"
    ]
  },
  "storage": {
    "localfs": {
      "max-io-events": 4096
    }
  },
  "license": "<url or path to license files>",
  "secret": "I9REYLxj*YCG44hvEKjXP(b5TCh)xmFxZPN+Dxuwfw2*tkRxnLQH6nuPMv#99@8e",
  "max-fd-limit": 4096,
  "#coroutine": {
    "once": 8,
    "periodic": 4
  },
  "hostname": "example.com",
  "log": {
    "#stdout": {
      "tag": "media-server",
      "verbose": 5,
      "pattern": "[%AppId] [%Timestamp] [%Verbose] %Message"
    },
    "file": {
      "tag": "media-server",
      "verbose": 4,
      "pattern": "[%Timestamp] [%AppId] [%Verbose] %Message",
      "path": "/var/log/vsaas/media-server.log",
      "rotate": 20000000,
      "number": 5
    },
    "#remote": {
      "tag": "media-server",
      "verbose": 3,
      "pattern": "{\"tag\":\"%Tag\",\"verbose\":\"%Verbose\",\"timestamp\":\"%Timestamp\",\"app_id\":\"%AppId\",\"message\":\"%EscMessage\"}",
      "url": "udp://company.com:8109"
    },
    "#syslog": {
      "tag": "media-server",
      "verbose": 5,
      "pattern": "[%Timestamp] [%AppId] [%Verbose] %Message",
      "facility": "user"
    }
  }
}