# Database root credentials.
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=mysql

# Database connections parameters
DB_HOST=mysql-server
DB_PORT=3306
DB_DATABASE=wb
DB_USERNAME=wb
DB_PASSWORD=wb

VMS_ENDPOINT=http://backend

# WB settings
WB_ENDPOINT=http://127.0.0.1
WB_TIMEOUT=2
WB_TOKEN=
WB_SERVICE_TOKEN=

# Logging settings
LOG_CHANNEL=daily
LOG_TTL_DAYS=7
LOG_LEVEL=debug
#SYSLOG_UDP_HOST=syslog.monitoring.svc
#SYSLOG_UDP_PORT=5140