# Database root credentials.
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=mysql

# Database connections parameters
DB_HOST=mysql-server
DB_PORT=3306
DB_DATABASE=wb
DB_USERNAME=wb
DB_PASSWORD=wb

VMS_ENDPOINT=http://backend

LOG_LEVEL=info
