- op: add
  path: /spec/template/spec/initContainers
  value:
  - name: init-grafana
    image: alpine:3
    command:
    - chown
    - -R
    - 472:65534
    - /var/lib/grafana/ 
    volumeMounts:
    - name: grafana-storage
      mountPath: /var/lib/grafana/
